/* 
--- 01 TYPOGRAPHY SYSTEM

Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

-Font weights:
Default: 400
medium:500
semi-bold:600
bold:700

-Line heights:
Default: 1
small: 1.05
medium:1.2
paragraph default: 1.6

-Letter spacing:
-0.5px
0.75px
--- 02 COLORS
-Primary Color: #e67e22;
-Tints: 
#fdf2e9
#fae5d3;
-Shades:
-Accents:
-Greys:
#555;
#333;

--- 05 SHADOWS

--- 06 BORDER_RADIUS
default: 9px
medium: 11px

--- 07 WHITESPACE


-SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

     */
/* 
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  /* font-size: 10px; */
  font-size: 62.5%;
}
body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}
.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  line-height: 1.2;
}

.list-icon {
  width: 3rem;
  height: 3rem;
  color: #e67e22;
}
*:focus {
  outline: none;
  /* outline: 4px dotted #e67e22;
  outline-offset: 8px; */
  box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.507);
}
/* *************************************** */
/* General reusable components */
/* *************************************** */
.heading-primary {
  font-size: 5.2rem;
  margin-bottom: 3.2rem;
  line-height: 1.05;
}
.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  color: #333;
  color: #2e1907;
  letter-spacing: -0.5px;
}
.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}
.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}
.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}
.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-weight: 600;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;

  /* only for .btn in call-to-action section */
  border: none;
  cursor: pointer;
  font-family: inherit;
  /* transition: background-color 0.3s; */
  transition: all 0.3s;
}
.btn--form {
  background-color: #45260a;
  color: #fdf2e9;
  align-self: end;
  padding: 1.2rem;
}
.btn--form:hover {
  background-color: #fff;
  color: #555;
}

.btn--full:link,
.btn--full:visited {
  color: #fff;
  background-color: #e67e22;

  /* put transition on original state */
  transition: background-color 0.3s;

  margin-right: 1.6rem;
}
.btn--full:hover,
.btn--full:active {
  color: #fff;
  background-color: #cf711f;
}
.btn--outline:link,
.btn--outline:visited {
  color: #555;
  background-color: white;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;
  /* border: 3px solid white; */
  /* to add border inside button */
  box-shadow: inset 0 0 0 3px #fff;
}
.margin-right-sm {
  margin-right: 1.6rem !important;
}
.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}
.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}
/* .grid:last-child {
  margin-bottom: 0;
} */
.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}
.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}

strong {
  font-weight: 500;
}
/* helper classes */
.center-text {
  text-align: center;
}
